/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #E3F2FD;
}

h1 {
    background: 
    #549d44;
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: #fff;
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
    flex-wrap: wrap;
}

.weather-input {
    width: 100%;
    max-width: 550px;
}

.weather-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #4aa3df;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before{
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #E3F2FD;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #20c997;
    transition: 0.2s ease;
}

.weather-input .search-btn:hover {
    background: #28a745;
}

.weather-input .location-btn {
    background: #20c997;
}

.weather-input .location-btn:hover {
    background: #28a745;
}

.weather-data {
    width: 100%;
}

.weather-data .current-weather {
    color: #fff;
    background: #bcc1c7;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

.weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon {
    text-align: center;
}

.current-weather .icon img {
    max-width: 120px;
}

.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5 - 20px);
    background: #798490;
    border-radius: 5px;
    box-sizing: border-box;
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background: #4aa3df;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 1rem;
}

.pagination button:hover {
    background: #4aa3df;
}

@media (max-width: 1400px) {
    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 100%;
    }
    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }
    .container {
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-data h2 {
        font-size: 1.35rem;
    }
}
